# TEN  WRONG  VARIABLE

In [ ]:
Aqba
class
int
do
856khan
char
&#
float
break
print

# TEN  WRITE  VARIABLE

In [ ]:
Ahmed_Ali
_usman
class_Tariq
dfg_123
n
star
name = "Umair"
x = 45
num  [1,2.5,9]
n = 12